<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Brands</h2>
    {% if brand_urls %}
      <ol>
        {% for brand in brand_urls.items %}
          {% if brand_active|my_index:forloop.counter0 is True %}
            <li><input type="checkbox" checked><a href="{{ brand.1 }}">{{ brand.0 }}</a></li>
          {% else %}
            <li><input type="checkbox"><a href="{{ brand.1 }}">{{ brand.0 }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}
</body>
</html>